# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/*
!Debug/*.dll
ipch/
*.sdf
*.opensdf
*.suo
Planetensystem/Debug/
Planetensystem/Release/
Release/*
!Release/*.dll
